@use 'styles/typography' as *;

.employee-detail-container {
    width: 370px;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 1px 1px 1px rgba(198, 198, 198, 0.2);
    border-radius: 5px;
    overflow: hidden;
    background: #fff;

    .header {
        background: #191919;
        display: flex;
        align-items: center;
        color: #fff;
        padding: 15px 30px;
        gap: 10px;
        position: relative;
        .profile-image {
            img {
                width: 65px;
                border-radius: 50%;
                border: 2px solid #fff;
                padding: 3px;
            }
        }
        .user-info {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;
            &__name-action {
                display: flex;
                justify-content: space-between;
                @include font-roboto-regular(14px);
                &__edit {
                    position: absolute;
                    z-index: 6;
                    top: 10px;
                    right: 10px;
                    img {
                        filter: invert(1);
                        width: 18px;
                    }
                }
            }
            &__designation {
                display: flex;
                gap: 10px;
                justify-content: space-between;
                @include font-roboto-regular(12px);
            }
        }
    }
    .detail-body {
        padding: 20px 30px;
        padding-bottom: 5px;
        .employee-info {
            p {
                margin: 0;
                @include font-roboto-regular(14px);
                margin-bottom: 20px;
            }
            h6 {
                margin: 0;
                margin-bottom: 10px;
                color: #404040;
                @include font-roboto-medium(14px);
            }
        }
    }
}