<div class="employee-detail-container">
    <div class="header">
        <div class="profile-image">
            <img src="assets/images/user-image.jpg" alt="">
        </div>
        <div class="user-info">
            <div class="user-info__name-action">
                <div class="user-info__name-action__name">
                    Hitesh Ahirwar
                </div>
                <div class="user-info__name-action__edit">
                    <img src="assets/icons/edit-icon.svg" alt="">
                </div>
            </div>
            <div class="user-info__designation">
                <div class="user-info__designation__role">
                    Senior Product Manager
                </div>
                <div class="user-info__designation__dept">
                    UI/UX Design
                </div>
            </div>
        </div>
    </div>
    <div class="detail-body">
        <div class="employee-info">
            <div class="employee-info__contact">
                <h6>Phone Number</h6>
                <p>+91 9897694969</p>
            </div>
            <div class="employee-info__email">
                <h6>Email Address</h6>
                <p>hiteshahirwar@gmail.com</p>
            </div>
            <div class="employee-info__office">
                <h6>Report Office</h6>
                <p>410 Plaza Indore M.P.</p>
            </div>
            <div class="employee-info__joining">
                <h6>Joined on</h6>
                <p>26 Jan 2020</p>
            </div>
        </div>
    </div>
</div>