<div class="attendance-container">
    <div class="today-attendance">
        <h3>Attendace</h3>
        <p>08:35 AM, 11 Mar 2025</p>
        <div class="attendance-bar">
            <div class="attendance-bar__inner" [ngStyle]="{
                'background': 'conic-gradient(#10c710 0% ' + progress + '%, #F8F9FA ' + progress + '% 100%)'
            }">
                <div class="attendance-bar__inner__content">
                    <h6>Today Hours</h6>
                    <p>5:45:34</p>
                </div>
            </div>
        </div>
        <div class="punch-time">
            <p>Punch In at 10:00 AM</p>
        </div>
    </div>
    <div class="daily-status">
        <div class="hour-status">
            <div class="hour-status__status">
                <div class="hour-status__status__total">
                    <p><span>8.6</span> / 9</p>
                    <p>Total Hours...</p>
                    <div class="hour-status-type">
                        <img src="assets/images/up-arrow.png" alt="">
                        <p>5% This Week</p>
                    </div>
                </div>
            </div>
            <div class="hour-status__status">
                <div class="hour-status__status__total">
                    <p><span>8.6</span> / 9</p>
                    <p>Total Hours...</p>
                    <div class="hour-status-type">
                        <img src="assets/images/down-arrow.png" alt="">
                        <p>5% Last Week</p>
                    </div>
                </div>
            </div>
            <div class="hour-status__status">
                <div class="hour-status__status__total">
                    <p><span>8.6</span> / 9</p>
                    <p>Total Hours...</p>
                    <div class="hour-status-type">
                        <img src="assets/images/up-arrow.png" alt="">
                        <p>5% Last Month</p>
                    </div>
                </div>
            </div>
            <div class="hour-status__status">
                <div class="hour-status__status__total">
                    <p><span>8.6</span> / 9</p>
                    <p>Total Hours...</p> 
                    <div class="hour-status-type">
                        <img src="assets/images/up-arrow.png" alt="">
                        <p>5% Overtime</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="daily-loggin">
            <div class="daily-loggin-hours">
                <div class="daily-loggin-hours__status">
                    <div class="daily-loggin-hours__status__indicator total-hours"></div>
                    <h6>Total Working Hours</h6>
                    <p>12h 36m</p>
                </div>
                <div class="daily-loggin-hours__status">
                    <h6>Total Productive Hours</h6>
                    <p><span class="daily-loggin-hours__status__indicator productive-hours"></span> 12h 36m</p>
                </div>
                <div class="daily-loggin-hours__status">
                    <h6>Total Break Hours</h6>
                    <p><span class="daily-loggin-hours__status__indicator break-hour"></span> 12h 36m</p>
                </div>
                <div class="daily-loggin-hours__status">
                    <h6>Overtime</h6>
                    <p><span class="daily-loggin-hours__status__indicator overtime"></span> 12h 36m</p>
                </div>
            </div>
            <div class="daily-loggin-bar">
                <div class="time-bar">
                    <div class="time-bar__productive" [ngStyle]="{width: '120px'}"></div>
                    <div class="time-bar__break" [ngStyle]="{width: '20px'}"></div>
                    <div class="time-bar__productive" [ngStyle]="{width: '80px'}"></div>
                    <div class="time-bar__break" [ngStyle]="{width: '50px'}"></div>
                    <div class="time-bar__productive" [ngStyle]="{width: '150px'}"></div>
                    <div class="time-bar__break" [ngStyle]="{width: '10px'}"></div>
                    <div class="time-bar__productive" [ngStyle]="{width: '70px'}"></div>
                    <div class="time-bar__overtime" [ngStyle]="{width: '50px'}"></div>
                    <div class="time-bar__break" [ngStyle]="{width: '20px'}"></div>
                    <div class="time-bar__overtime" [ngStyle]="{width: '40px'}"></div>
                </div>
            </div>
        </div>
    </div>
</div>