<div class="attendance-container">
    <div class="today-attendance">
        <h3>Attendace</h3>
        <p>08:35 AM, 11 Mar 2025</p>
        <div class="attendance-bar">
            <div class="attendance-bar__inner" [ngStyle]="{
                'background': 'conic-gradient(#10c710 0% ' + progress + '%, #F8F9FA ' + progress + '% 100%)'
            }">
                <div class="attendance-bar__inner__content">
                    <h6>Today Hours</h6>
                    <p>5:45:34</p>
                </div>
            </div>
        </div>
        <div class="punch-time">
            <p>Punch In at 10:00 AM</p>
        </div>
    </div>
    <div class="hour-status">
        <div class="hour-status__this-week">
            
        </div>
        <div class="hour-status__last-week">

        </div>
        <div class="hour-status__last-month">

        </div>
        <div class="hour-status__overtime">

        </div>
    </div>
</div>