@use 'styles/typography' as *;

.attendance-container {
    display: flex;
    gap: 10px;
    text-align: center;

    .today-attendance {
        background: linear-gradient(180deg, #FFF8F4 0%, #FFFFFF 100%);
        border: 1px solid #F26522;
        border-radius: 5px;
        width: 240px;
        h3 {
            @include font-roboto-medium(16px);
        }
        p {
            @include font-roboto-regular(14px);
        }
        .attendance-bar {
            display: flex;
            justify-content: center;
            &__inner {
                border-radius: 50%;
                width: 140px;
                height: 140px;

                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                
                &::before {
                    content: '';
                    position: absolute;
                    width: calc(100% - 8px);  /* 4px border on each side */
                    height: calc(100% - 8px);
                    border-radius: 50%;
                    background: white; /* background color of inner part */
                }
                &__content {
                    z-index: 1;
                    h6 {
                        margin: 0;
                        @include font-roboto-medium(16px);
                    }
                    p {
                        margin: 0;
                        margin-top: 5px;
                        @include font-roboto-regular(16px);
                    }
                }
            }
        }
        .punch-time {
            p {
                @include font-roboto-medium(16px);
            }
        }
    }
}