@use 'styles/typography' as *;

.profile-container {
    background-color: #fff;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 1px 1px 1px rgba(198, 198, 198, 0.2);
    margin: 20px 15px;
    padding: 20px;

    .header {
        border-bottom: 1px solid rgb(164, 164, 164);
        h2 {
            margin: 0;
            margin-bottom: 12px;
            @include font-roboto-medium(24px);
        }
    }
    .basic-info {
        &__header {
            h4 {
                margin: 0;
                margin: 20px 0;
                @include font-roboto-medium(16px);
            }
        }
        &__details {
            border-bottom: 1px solid rgb(164, 164, 164);
            &__profile-image {
                display: flex;
                align-items: center;
                gap: 20px;
                background-color: rgb(239, 239, 239);
                border-radius: 5px;
                padding: 20px;

                img {
                    width: 24px;
                    height: 24px;
                    opacity: 0.4;
                    margin: 20px;
                }
                .profile-image-content {
                    h2 {
                        margin: 0;
                        margin: 10px 0;
                        @include font-roboto-medium(14px);
                    }
                    &__action {
                        display: flex;
                        gap: 20px;
                        &__upload {
                            background-color: #F26522;
                            color: #fff;
                            border: none;
                            width: 90px;
                            height: 30px;
                            border-radius: 5px;
                        }
                        &__cancel {
                            border: none;
                            background: none;
                            border-radius: 5px;
                            width: 90px;
                            height: 30px;
                        }
                    }
                }
            }
            &__inputs {
                margin: 20px 0;
            }
        }
    }
    .address-info {
        &__header {
            h4 {
                margin: 0;
                margin: 20px 0;
                @include font-roboto-medium(16px);
            }
        }
        &__details {
            &__inputs {
                margin: 20px 0;
                .address-class {
                    gap: 85px;
                    textarea {
                        width: 100%;
                        height: 45px;
                        outline: none;
                        padding: 10px 5px;
                        @include font-roboto-regular(14px);
                    }
                }
            }
        }
    }
    .form-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 40px;
        label {
            @include font-roboto-medium(14px);
        }
        input {
            width: 320px;
            box-sizing: border-box;
            height: 40px;
            outline: none;
            padding: 10px 5px;
            @include font-roboto-regular(14px);
        }
    }
    .first-row-inputs {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .second-row-inputs {
        margin-top: 20px;
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .third-row-inputs {
        margin-top: 20px;
        display: flex;
        gap: 30px;
        align-items: center;
    }
}