.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    .search-field {
        input {
            height: 25px;
            width: 320px;
        }
    }
    .header-actions {
        display: flex;
        gap: 20px;
        img {
            width: 18px;
        }
    }
}