<div class="header-container">
    <div class="search-field">
        <input type="text" placeholder="Search">
    </div>
    <div class="header-actions">
        <div class="messages">
            <img src="assets/icons/message-icon.svg" alt="">
        </div>
        <div class="notifications">
            <img src="assets/icons/notification-icon.svg" alt="">
        </div>
        <div class="user-action">
            <img src="assets/icons/user-icon.svg" alt="">
        </div>
    </div>
</div>