@use 'styles/typography' as *;

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    .search-field {
        input {
            height: 35px;
            width: 360px;
            @include font-roboto-regular(16px);
            border: 1px solid rgb(174 174 174);
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0px 1px 1px 1px rgb(164 164 164 / 22%);

            &:focus-visible {
                outline: none;
            }
        }
    }
    .header-actions {
        display: flex;
        gap: 20px;
        img {
            width: 18px;
        }
        .user-action {
            position: relative;
            &:hover {
                .user-action__dropdown {
                    visibility: visible;
                }
            }
            &__dropdown {
                visibility: hidden;
                right: 0;
                position: absolute;
                border: 1px solid #E5E7EB;
                box-shadow: 0px 1px 1px 1px rgba(198, 198, 198, 0.2);
                background-color: #fff;
                border-radius: 4px;

                .profile-details {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border-bottom: 1px solid #b9b9b9;
                    padding: 15px 10px;

                    &__user-image {
                        img {
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;
                        }
                    }
                    &__user-data {
                        h4 {
                            margin: 0;
                            margin-bottom: 3px;
                            @include font-roboto-bold(14px);
                        }
                        p {
                            margin: 0;
                            @include font-roboto-medium(12px);
                        }
                    }
                }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    padding: 15px 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    li {
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        cursor: pointer;
                        img {
                            width: 18px;
                        }
                        p {
                            margin: 0;
                            @include font-roboto-regular(14px);
                        }
                    }
                }
                .profile-logout {
                    border-top: 1px solid #b9b9b9;
                    padding: 15px 20px;
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    img {
                        width: 18px;
                    }
                    p {
                        margin: 0;
                        @include font-roboto-regular(14px);
                    }
                }
            }
        }
    }
}