<div class="skill-container">
    <div class="header">
        <p>Skills</p>
    </div>
    <div class="body">
        <div class="skills-list">
            <ul>
                <li>
                    <div class="skill-detail">
                        <h4>HTML</h4>
                        <p>Updated: 05 Jun 2024</p>
                    </div>
                    <div class="skill-action">
                        <p class="beginner-skill">Beginner</p>
                    </div>
                </li>
                <li>
                    <div class="skill-detail">
                        <h4>Java</h4>
                        <p>Updated: 05 Jun 2024</p>
                    </div>
                    <div class="skill-action">
                        <p class="advance-skill">Advance</p>
                    </div>
                </li>
                <li>
                    <div class="skill-detail">
                        <h4>Spring Boot</h4>
                        <p>Updated: 05 Jun 2024</p>
                    </div>
                    <div class="skill-action">
                        <p class="advance-skill">Advance</p>
                    </div>
                </li>
                <li>
                    <div class="skill-detail">
                        <h4>JavaScript</h4>
                        <p>Updated: 05 Jun 2024</p>
                    </div>
                    <div class="skill-action">
                        <p class="intermediate-skill">Intermediate</p>
                    </div>
                </li>
                <li>
                    <div class="skill-detail">
                        <h4>Angular</h4>
                        <p>Updated: 05 Jun 2024</p>
                    </div>
                    <div class="skill-action">
                        <p class="intermediate-skill">Intermediate</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>