@use 'styles/typography' as *;

.skill-container {
    border: 1px solid #E5E7EB;
    box-shadow: 0px 1px 1px 1px rgba(198, 198, 198, 0.2);
    border-radius: 5px;
    width: 100%;
    background: #fff;
    height: 100%;

    .header {
        padding: 15px;
        color: #000;
        background-color: rgb(232 237 232);
        display: flex;
        justify-content: space-between;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        p {
            margin: 0;
            @include font-roboto-medium(16px);
        }
    }
    .body {
        padding: 20px;
        .skills-list {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    padding: 10px;
                    border-radius: 3px;
                    margin-bottom: 15px;
                    background-color: rgb(248, 248, 248);
                    align-items: center;

                    .skill-detail {
                        h4 {
                            margin: 0;
                            margin-bottom: 4px;
                            @include font-roboto-medium(14px);
                        }
                        p {
                            margin: 0;
                            @include font-roboto-regular(12px);
                        }
                    }
                    .skill-action {
                        p {
                            padding: 5px;
                            margin: 0;
                            @include font-roboto-medium(12px);
                        }
                        .beginner-skill {
                            background-color: rgba(255, 0, 0, 0.1);
                            border: 1px solid red;
                            border-radius: 3px;
                        }
                        .intermediate-skill {
                            background-color: rgba(255, 166, 0, 0.1);
                            border: 1px solid orange;
                            border-radius: 3px;
                        }
                        .advance-skill {
                            background-color: rgba(0, 128, 0, 0.1);
                            border: 1px solid green;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }
}