@use 'styles/typography' as *;

.request-leave-container {
    padding: 20px;
    position: relative;
    .close-modal {
        position: absolute;
        right: 5px;
        top: 5px;
        img {
            width: 16px;
            cursor: pointer;
        }
    }
    .header {
        h2 {
            margin: 0;
            @include font-roboto-medium(18px);
        }
    }
    .body {
        margin-top: 20px;
        .form-control {
            margin-bottom: 20px;
            label {
                width: 100%;
                @include font-roboto-medium(14px);
                margin-bottom: 10px;
            }
            input {
                width: 100%;
                height: 30px;
                outline: none;
                @include font-roboto-regular(14px);
            }
            textarea {
                resize: none;
                width: 100%;
                height: 120px;
                @include font-roboto-regular(14px);
            }
        }
        .leave-dates {
            display: flex;
            justify-content: space-between;

            mat-form-field {
                width: 180px;
                mat-label {
                    @include font-roboto-medium(14px);   
                }
            }

            .start-date {
                margin-bottom: 0;
            }
            .end-date {
                margin-bottom: 0;
            }
        }
        .form-action {
            display: flex;
            justify-content: end;
            gap: 5px;

            button {
                border: none;
                height: 30px;
                width: 120px;
                border-radius: 3px;
                @include font-roboto-regular(14px);
            }
            &__cancel {
                background: none;
            }
            &__add {
                color: #fff;
                background-color: #F26522;
            }
        }
    }
}