// _typography.scss
@mixin font-roboto-regular($size: 14px) {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: $size;
}

@mixin font-roboto-medium($size: 14px) {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; // medium weight
  font-size: $size;
}

@mixin font-roboto-bold($size: 16px) {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: $size;
}
