<div class="dashboard-container">
    <div class="header">
        <p>Welcome Hitesh Ahirwar</p>
    </div>
    <div class="main-body">
        <div class="first-row">
            <app-employee-details></app-employee-details>
            <div class="inner-section">
                <app-announcements></app-announcements>
                <div class="information-updates">
                    <div class="birthday-updates">
                        <app-birthdays></app-birthdays>
                    </div>
                    <div class="info-updates">
                        <app-policy-updates></app-policy-updates>
                        <app-holiday-updates></app-holiday-updates>
                    </div>
                </div>
            </div>
        </div>
        <div class="second-row">
            <app-leaves-detail></app-leaves-detail>
        </div>
        <div class="third-row">
            <app-attendance></app-attendance>
        </div>
        <div class="fourth-row">
            <div class="projects">
                <app-projects></app-projects>
            </div>
            <div class="skills">
                <app-skills></app-skills>
            </div>
            <div class="team-members">
                <app-team-members></app-team-members>
            </div>
        </div>
    </div>
</div>