@use 'styles/typography' as *;

.dashboard-container {
    padding: 20px 15px;
    .header {
        background-image: url('/assets/images/welcome-background.jpg');
        height: 60px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3px;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        p {
            margin: 0;
            margin-left: 30px;
            @include font-roboto-medium(20px);
        }
    } 
    .main-body {
        .first-row {
            display: flex;
            gap: 20px;
            .inner-section {
                width: 100%;
                .information-updates {
                    display: flex;
                    gap: 10px;
                    margin-top: 10px;
                    .birthday-updates {
                        width: 100%;
                    }
                    .info-updates {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                }
            }
        }
        .second-row {
            margin-top: 20px;
        }
        .third-row {
            margin-top: 20px;
        }
    }
}