<div class="dashboard-container">
    <div class="header">
        <p>Welcome Hitesh Ahirwar</p>
    </div>
    <div class="main-body">
        <div class="first-row">
            <app-employee-details></app-employee-details>
            <div class="inner-section">
                <app-announcements></app-announcements>
                <div class="information-updates">
                    <div class="birthday-updates">
                        <app-birthdays></app-birthdays>
                    </div>
                    <div class="info-updates">
                        <app-policy-updates></app-policy-updates>
                        <app-holiday-updates></app-holiday-updates>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>