@use 'styles/typography' as *;

.project-container {
    border: 1px solid #E5E7EB;
    box-shadow: 0px 1px 1px 1px rgba(198, 198, 198, 0.2);
    border-radius: 5px;
    min-width: 390px;
    background: #fff;
    height: 100%;

    .header {
        padding: 15px;
        color: #000;
        background-color: rgb(232 237 232);
        display: flex;
        justify-content: space-between;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        h2 {
            margin: 0;
            @include font-roboto-medium(16px);
        }
        p {
            margin: 0;
            @include font-roboto-regular(14px);
        }
    }
    .body {
        padding: 20px;
        .project-list {
            display: flex;
            justify-content: space-between;
            .project-item {
                border: 1px solid rgb(199 199 199);
                border-radius: 3px;
                .project-header {
                    border-bottom: 1px solid rgb(199 199 199);
                    padding: 10px;
                    p {
                        margin: 0;
                        @include font-roboto-medium(16px);
                    }
                }
                .project-detail {
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding: 10px;
                            img {
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;
                            }
                            .project-detail__description {
                                h4 {
                                    margin: 0;
                                    @include font-roboto-medium(14px);
                                }
                                p {
                                    margin: 0;
                                    @include font-roboto-regular(14px);
                                }
                            }
                        }
                        .project-member {
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            background-color: rgba(0, 157, 255, 0.02);
                            border: 1px solid rgba(0, 145, 255, 0.4);
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 16px;
                            }
                        }
                        .project-deadline {
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            background-color: rgba(255, 21, 0, 0.02);
                            border: 1px solid rgba(255, 0, 0, 0.4);
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 16px;
                            }
                        }
                    }
                }
            }
        }
        .project-action {
            margin-top: 20px;
            display: flex;
            justify-content: end;
            gap: 10px;
            button {
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 10px 45px;
                @include font-roboto-medium(14px);
            }
            &__previous {
                background-color: #F26522;
            }
            &__next {
                background-color: #229bf2;
            }
        }
    }
}