<div class="project-container">
    <div class="header">
        <h2>Projects (3)</h2>
        <p>On Going</p>
    </div>
    <div class="body">
        <div class="project-list">
            <div class="project-item">
                <div class="project-header">
                    <p>ERP System</p>
                </div>
                <div class="project-detail">
                    <ul>
                        <li>
                            <img src="assets/images/user-image.jpg" alt="">
                            <div class="project-detail__description">
                                <h4>Hitesh Ahirwar</h4>
                                <p>Project Lead</p>
                            </div>
                        </li>
                        <li>
                            <div class="project-deadline">
                                <img src="assets/icons/deadline-icon.svg" alt="">
                            </div>
                            <div class="project-detail__description">
                                <h4>14 Jan 2027</h4>
                                <p>Deadline</p>
                            </div>
                        </li>
                        <li>
                            <div class="project-member">
                                <img src="assets/icons/team-member-icon.svg" alt="">
                            </div>
                            <div class="project-detail__description">
                                <h4>16</h4>
                                <p>Members</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="project-item">
                <div class="project-header">
                    <p>ERP System</p>
                </div>
                <div class="project-detail">
                    <ul>
                        <li>
                            <img src="assets/images/user-image.jpg" alt="">
                            <div class="project-detail__description">
                                <h4>Hitesh Ahirwar</h4>
                                <p>Project Lead</p>
                            </div>
                        </li>
                        <li>
                            <div class="project-deadline">
                                <img src="assets/icons/deadline-icon.svg" alt="">
                            </div>
                            <div class="project-detail__description">
                                <h4>14 Jan 2027</h4>
                                <p>Deadline</p>
                            </div>
                        </li>
                        <li>
                            <div class="project-member">
                                <img src="assets/icons/team-member-icon.svg" alt="">
                            </div>
                            <div class="project-detail__description">
                                <h4>16</h4>
                                <p>Members</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="project-action">
            <button class="project-action__previous">Previous</button>
            <button class="project-action__next">Next</button>
        </div>
    </div>
</div>