@use 'styles/typography' as *;

.sidebar-container {
    .header {
        text-align: center;
        img {
            width: 80px;
        }
    }
    .navigations {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                padding: 10px 15px;
                cursor: pointer;
                @include font-roboto-medium(16px);
                &:hover {
                    background-color: #f4f4f4;
                }
            }
        }
    }
}