.employee-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    &__sidebar {
        max-width: 240px;
        min-width: 240px;
        height: 100vh;
        overflow: hidden;
        border-right: 1px solid rgb(209, 209, 209);
    }
    &__renderer {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        &__header {
            flex-shrink: 0;
            border-bottom: 1px solid rgb(209, 209, 209);
        }
        &__body {
            flex: 1;
            overflow-y: auto;
        }
    }
}
