.employee-container {
    display: flex;
    &__sidebar {
        width: 280px;
        height: 100vh;
        overflow: hidden;
        border-right: 1px solid rgb(209, 209, 209);
    }
    &__renderer {
        width: 100%;
        &__header {
            border-bottom: 1px solid rgb(209, 209, 209);;
        }
    }
}