@use 'styles/typography' as *;

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    .banner {
        width: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .form-container {
        width: 100%;
        .inner-container {
            width: 360px;
            margin: auto;
            text-align: center;
            &__logo {
                img {
                    width: 120px;
                    height: 100%;
                }
            }
            h1 {
                margin: 0;
                @include font-roboto-bold(20px);
            }
        }
    }
}