<div class="login-container">
    <div class="banner">
        <img src="assets/images/sidebar-image.jpg">
    </div>
    <div class="form-container">
        <div class="inner-container">
            <div class="inner-container__logo">
                <img src="assets/icons/logo.svg" alt="">
            </div>
            <h1>Sign In</h1>
            <p>Please enter your details to sign in</p>

            <form [formGroup]="loginForm">
                <div class="form-control">
                    <p>Email Address</p>
                    <input type="text" formControlName="email">    
                </div>
                <div class="form-control">
                    <p>Password</p>
                    <input type="text" formControlName="password">
                </div>
                <div class="form-action">
                    <div class="form-action__remfor">
                        <div class="form-action__remfor__remember-me">
                        <input type="checkbox"><span>Remember me</span>
                    </div>
                    <div class="form-action__remfor__forget-password">
                        <p>Forgot Password?</p>
                    </div>
                    </div>
                    <button (click)="submit()">Submit</button>
                    <div class="form-action__register">
                        <p>Don't have account? <span>Create Account</span></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
