@use 'styles/typography' as *;

.annoucement-container {
    width: 100%;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 1px 1px 1px rgba(198, 198, 198, 0.2);
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    
    .header {
        display: flex;
        justify-content: space-between;
        padding: 15px 15px;
        border-bottom: 1px solid #b9b9b9;
        background-color: black;
        align-items: center;
        h1 {
            @include font-roboto-bold(20px);
            margin: 0;
            color: #fff;
        }
        .add-annoucement {
            button {
                background-color: #fff;
                color: #000;
                border: none;
                border-radius: 5px;
                height: 30px;
                width: 180px;
                text-align: center;
                @include font-roboto-regular(16px);
            }
        }
    }
    .annoucement-list {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                padding: 15px 20px;
                .list-header {
                    margin-bottom: 20px;
                    p {
                        margin: 0;
                        @include font-roboto-medium(18px);
                    }
                }
                .details {
                    p {
                        margin: 0;
                        @include font-roboto-regular(14px);
                    }
                }
            }
        }
    }
}