<div class="annoucement-container">
    <div class="header">
        <h1>Annoucements</h1>
        <div class="add-annoucement">
            <button>Add Annoucement</button>
        </div>
    </div>
    <div class="annoucement-list">
        <ul>
            <li>
                <div class="list-header">
                    <p>
                        Full Week Off
                    </p>
                </div>
                <div class="details">
                    <p>
                        This week start from 04-11-2020 to 10-11-2020 full week will be off. Enjoy
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>