<div class="teams-container">
    <div class="header">
        <p>Team Members</p>
    </div>
    <div class="body">
        <div class="members-list">
            <ul>
                <li>
                    <div class="user-info">
                        <img src="assets/images/user-image.jpg" alt="">
                        <div class="user-details">
                            <h4>Hitesh Ahirwar</h4>
                            <p>Software Developer</p>
                        </div>
                    </div>
                    <div class="user-action">
                        <img src="assets/icons/send-message-icon.svg" alt="">
                        <img src="assets/icons/email-icon.svg" alt="">
                    </div>
                </li>
                <li>
                    <div class="user-info">
                        <img src="assets/images/user-image.jpg" alt="">
                        <div class="user-details">
                            <h4>Hitesh Ahirwar</h4>
                            <p>Software Developer</p>
                        </div>
                    </div>
                    <div class="user-action">
                        <img src="assets/icons/send-message-icon.svg" alt="">
                        <img src="assets/icons/email-icon.svg" alt="">
                    </div>
                </li>
                <li>
                    <div class="user-info">
                        <img src="assets/images/user-image.jpg" alt="">
                        <div class="user-details">
                            <h4>Hitesh Ahirwar</h4>
                            <p>Software Developer</p>
                        </div>
                    </div>
                    <div class="user-action">
                        <img src="assets/icons/send-message-icon.svg" alt="">
                        <img src="assets/icons/email-icon.svg" alt="">
                    </div>
                </li><li>
                    <div class="user-info">
                        <img src="assets/images/user-image.jpg" alt="">
                        <div class="user-details">
                            <h4>Hitesh Ahirwar</h4>
                            <p>Software Developer</p>
                        </div>
                    </div>
                    <div class="user-action">
                        <img src="assets/icons/send-message-icon.svg" alt="">
                        <img src="assets/icons/email-icon.svg" alt="">
                    </div>
                </li><li>
                    <div class="user-info">
                        <img src="assets/images/user-image.jpg" alt="">
                        <div class="user-details">
                            <h4>Hitesh Ahirwar</h4>
                            <p>Software Developer</p>
                        </div>
                    </div>
                    <div class="user-action">
                        <img src="assets/icons/send-message-icon.svg" alt="">
                        <img src="assets/icons/email-icon.svg" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>