@use 'styles/typography' as *;

.teams-container {
    border: 1px solid #E5E7EB;
    box-shadow: 0px 1px 1px 1px rgba(198, 198, 198, 0.2);
    border-radius: 5px;
    width: 300px;
    background: #fff;
    height: 100%;

    .header {
        padding: 15px;
        color: #000;
        background-color: rgb(232 237 232);
        display: flex;
        justify-content: space-between;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        p {
            margin: 0;
            @include font-roboto-medium(16px);
        }
    }
    .body {
        padding: 20px;
        .members-list {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 25px;

                    .user-info {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img {
                            width: 42px;
                            height: 42px;
                            border-radius: 50%;
                        }
                        .user-details {
                            h4 {
                                margin: 0;
                                @include font-roboto-medium(14px);
                            }
                            p {
                                margin: 0;
                                @include font-roboto-regular(14px);
                            }
                        }
                    }
                    .user-action {
                        display: flex;
                        gap: 5px;
                        img {
                            width: 18px;
                        }
                    }
                }
            }
        }
    }
}